@(form: Form[User])
@*(implicit flash: Flash)*@

<html>
<head>
  <title>Home</title>
  <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
</head>
<body>

<header>
  <a href="@routes.Application.index" id="logo">Home</a>
</header>

@helper.form(routes.Register.register) {

  <h1>Register</h1>

  @form.globalErrors.map { error =>
  <p class="error">
    @error.toString
  </p>
  }

  @if( flash.get("success")) {
    @flash.get("success").map { message =>
      <p class="success">
        @message
      </p>
    }
  }

  <p>
    <input type="email" name="email" placeholder="Email" value="@form("email").value">
  </p>

  <p>
    <input type="password" name="password" placeholder="Password">
  </p>

  <p>
    <button type="submit">Register</button>
  </p>

}

</body>
</html>


